body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(42,41,45,1) 51%, rgba(55,60,61,1) 100%);
    font-family: "Raleway", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

h1{
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
}

p {
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

li {
    background-color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 100vw;
}

header ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion img {
    border-radius: 5px;
}

.seccion ul li {
    padding: 0.8rem 3rem;
}

